<nav class="mx-auto flex flex-wrap items-center justify-between px-4 py-3 md:flex-nowrap">
 
    <a href="/" class="flex items-center space-x-2">
        <img alt="Logo SecureWeek" src="./assets/images/logo-secureweek.svg">
        <span class="text-2xl">SecureWeek</span>
    </a>

    <button 
        class="md:hidden text-white focus:outline-none" 
        id="menu-toggle" 
        aria-controls="navbarNav" 
        aria-expanded="false"
    >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
    </button>
    <div id="navbarNav" class="hidden md:flex flex-col md:flex-row md:space-x-6 md:items-center basis-full md:basis-auto">
        <ul class="flex flex-col text-center md:flex-row space-y-2 md:space-y-0 md:space-x-4">
            <li><a href="/" class="menu-link">Inicio</a></li>
            <li><a href="./participantes.html" class="menu-link">Participantes</a></li>
            <li><a href="#" class="menu-link">Concurso</a></li>
            <li><a href="#" class="menu-link">Inscripción</a></li>
        </ul>
    </div>
</nav>