<div class="poster bg-poster bg-cover bg-center grid place-items-center p-4 md:p-20 text-white">
    <h1 class="text-4xl font-medium text-center p-4 mb-2 text-shadow">Jornadas de Seguridad Informática 2024</h1>
    <div class="mt-4 bg-black/[.60] p-4">
        <h2 class="text-3xl font-semibold">Descubre las últimas tendencias en ciberseguridad</h2>
        <p class="mt-2">Únete a nosotros en estas emocionantes jornadas donde expertos de la industria compartirán sus conocimientos sobre las amenazas cibernéticas más recientes y las mejores prácticas para proteger tu información.</p>
        <p class="mt-2">Además, hemos preparado un concurso de programación orientado a la seguridad informática.</p>
        <ul class="mt-6 flex space-x-4 text-black">
            <li><a href="./participantes.html" class="btn-primary">Participantes</a></li>
            <li><a href="#" class="btn-primary">Concurso</a></li>
        </ul>
    </div>
</div>