<h3 class="text-2xl font-semibold text-white">Dirigido a:</h3>
<ul class="list-none pl-0 mt-4 text-white text-lg">
    <li class="p-4">Desarrolladores</li>
    <li class="p-4">Responsables TICs</li>
    <li class="p-4">Analistas de ciberseguridad</li>
    <li class="p-4">Auditores de seguridad</li>
</ul>
<a href="#" class="mt-6 text-center text-lg font-bold block bg-white text-blue px-4 py-2 rounded hover:bg-white-700 uppercase">Haz tu inscripción</a>

<!--
<h3 class="aside__title">Dirigido a:</h3>
<ul class="aside__list">
    <li class="aside__list__item">Desarrolladores</li>
    <li class="aside__list__item">Responsables TICs</li>
    <li class="aside__list__item">Analistas de ciberseguridad</li>
    <li class="aside__list__item">Auditores de seguridad</li>
</ul>
<a class="aside__button" role="button" href="formulario.html">Haz tu inscripción</a>-->